<div id="" class="hidden container w-full md:max-w-xl p-3 mx-auto mt-3 detail">
  <div class="bg-sky-200 rounded-t drop-shadow">
    <h3 class="text-lg font-semibold p-4 title"></h3>
  </div>
  <div class="bg-white rounded-b p-4 mb-3 drop-shadow">
    <div class="sm:grid sm:grid-cols-3 sm:gap-5">
      <div class="self-center mb-3 max-w-[300px] mx-auto">
        <img id="merchant-logo"
          src=""
          alt=""
        />
      </div>
      <div class="col-span-2">
        <p>Nomor Rekening</p>
        <h3 class="text-xl font-medium mb-2">1234567890</h3>
        <p>Nama Rekening</p>
        <h3 class="text-xl font-medium mb-2">
          PT. Solusi Pembayaran Indonesia
        </h3>
        <p>Jumlah Pembayaran</p>
        <h3 class="text-xl font-medium">Rp 100.000</h3>
      </div>
    </div>
  </div>

  <div x-data="{tab:'atm'}" class="bg-white px-4 py-2 rounded drop-shadow">
    <div
      class="text-sm font-medium text-center text-gray-500 border-b border-gray-200"
    >
      <div class="flex flex-wrap">
        <div class="mr-2">
          <a
            href="#"
            @click.prevent="tab = 'atm'"
            class="inline-block p-3 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300"
            :class="{'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600':tab==='atm'}"
            >ATM</a
          >
        </div>
        <div class="mr-2">
          <a
            href="#"
            @click.prevent="tab = 'ibanking'"
            class="inline-block p-3 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300"
            :class="{'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600':tab==='ibanking'}"
            >I-Banking</a
          >
        </div>
        <div class="mr-2">
          <a id="mbanking"
            href="#"
            @click.prevent="tab = 'mbanking'"
            class="inline-block p-3 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300"
            :class="{'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600':tab==='mbanking'}"
            ></a
          >
        </div>
      </div>
    </div>
    <div class="p-5">
      <div x-show="tab === 'atm'">
        <ol id="atm-intruction" class="list-decimal">
        </ol>
      </div>
      <div x-show="tab === 'ibanking'">
        <ol id="ibanking-intruction" class="list-decimal">
        </ol>
      </div>
      <div x-show="tab === 'mbanking'">
        <ol id="mbanking-intruction" class="list-decimal">
        </ol>
      </div>
    </div>
  </div>

  <div class="sm:grid sm:grid-cols-2 sm:gap-5 mt-5 font-semibold text-center">
    <div class="bg-sky-400 shadow w-full rounded-md p-2 cursor-pointer back-btn">Kembali</div>
    <div
      class="bg-orange-400 shadow text-white w-full rounded-md p-2 mt-2 sm:mt-0 cursor-pointer final-btn"
    >
    </div>
  </div>
</div>
