<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pembayaran Sukses | PayKuy!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header>
      <nav class="bg-sky-500 drop-shadow-lg">
        <div class="container w-full md:max-w-xl mx-auto p-5">
          <a
            href="#"
            class="inline-block text-xl text-white font-bold focus-visible:outline-none"
            >Pespat</a
          >
          <a
            href="#"
            class="inline-block text-white float-right focus-visible:outline-none"
            >Home</a
          >
        </div>
      </nav>
    </header>
    
    <div id="success" class="container w-full md:max-w-xl mx-auto mt-10">
          <img src="https://www.beauty-addict.com/wp-content/uploads/2021/02/Payment-success.png" alt="payment-success">
    </div>

    <footer class="py-10 text-center italic">Powered by PayKuy!</footer>
  </body>
</html>
